/*
==UserStyle==
@name           Full Size WhatsApp
@namespace      net.michalinteger.fullsizewhatsapp
@version        1.0.3
@description    Makes WhatsApp Web take up the entire window
@author         michalinteger
@homepageURL    https://gitlab.com/michalinteger/stylus-themes
@supportURL     https://gitlab.com/michalinteger/stylus-themes/issues
@updateURL      https://gitlab.com/michalinteger/stylus-themes/-/raw/main/themes/fullsizewhatsapp.user.css
@license        CC0
@preprocessor   stylus
@var text       width   "Window Width"  100%
@var text       height  "Window Height" 100%
==/UserStyle==
*/
@-moz-document url-prefix("https://web.whatsapp.com") {
  /* One (and only) section */
  div[class="_1XkO3 two"], div[class="_1XkO3 two app-animating"],
  div[class="_1XkO3 three"], div[class="_1XkO3 three app-animating"],
  div[class="_1jJ70 two"], div[class="_1jJ70 three"] {
    top: 0px !important;
    width: width !important;
    max-width: width !important;
    height: height !important;
  }
}
